@charset "UTF-8";
/*----------------------Обнуление----------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------Обнуление----------------------*/
:root {
  --black: #000000;
  --white: #ffffff;
  --orange: #FCA311;
  --onyx: #464646;
  --eerie-black: #232323;
}

body {
  background: var(--onyx);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
}

/*--------header--------*/
.header__container {
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo::before {
  content: '';
  display: block;
  position: relative;
  top: 36px;
  width: 100%;
  height: 1px;
  background-color: var(--orange);
  transition: 0.5s ease;
}

.header__logo-link {
  display: block;
  font-size: 30px;
  color: var(--white);
  transition: 0.3s ease;
}

.header__logo-link::first-letter {
  color: var(--orange);
  transition: 0.3s ease;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 22px;
}

.menu__item::before {
  content: '';
  display: block;
  position: relative;
  top: 30px;
  width: 0%;
  height: 1px;
  background-color: var(--orange);
  transition: 0.5s ease;
}

.menu__item:hover {
  transition: 0.3s ease;
}

.menu__item:hover::before {
  transition: 0.5s ease;
  width: 100%;
}

.menu__link {
  display: block;
  font-size: 26px;
  color: var(--white);
  transition: 0.3s ease;
}

.menu__link:hover::first-letter {
  color: var(--orange);
  transition: 0.3s ease;
}

/*--------header--------*/
/*---------main---------*/
.page__section {
  margin: 35px auto 35px auto;
  max-width: 1440px;
}

.page__container {
  background-color: var(--eerie-black);
  margin: 20px 0 0 0;
  box-shadow: 0px 19px 71px 9px rgba(0, 0, 0, 0.41);
  padding: 50px 60px;
}

.page__sub-title {
  font-weight: 200;
  font-size: 38px;
  text-transform: uppercase;
}

.page__sub-title::first-letter {
  color: var(--orange);
}

.page__section-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__section-preview h1 {
  font-weight: 200;
  font-size: 38px;
}

.page__section-preview h1::first-letter {
  color: var(--orange);
}

.page__section-preview p {
  font-size: 54px;
}

.page__section-preview p::first-letter {
  color: var(--orange);
}

.page__my-photo {
  width: 300px;
  height: 300px;
  margin: 40px 0 40px 0;
  border-radius: 50%;
  background-image: url(/img/my_photo.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  mix-blend-mode: luminosity;
  border: 1px solid #000000;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
}

.page__container-project {
  display: grid;
  gap: 0 20px;
  grid-template-columns: 1fr 1fr;
}

.project {
  position: relative;
  overflow: hidden;
  min-width: 50%;
}

.project:hover .popup-project {
  top: 0;
  opacity: 1;
  transition: 0.4s ease;
}

.project-img {
  width: 100%;
  object-fit: contain;
}

.popup-project {
  opacity: 0;
  border-top: 1px solid var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 100%;
  padding: 40px;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: #232323e8;
  transition: 0.4s ease;
}

.project-name {
  font-size: 24px;
  font-weight: 300;
}

.project-name::first-letter {
  color: var(--orange);
}

.description {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.7px;
  line-height: 20px;
  text-align: justify;
}

.link-to-project {
  margin: 0 auto;
  width: 120px;
  text-align: center;
  display: block;
  color: var(--white);
  padding: 10px;
  background: transparent;
  border: 1px solid var(--white);
  font-size: 15px;
  font-weight: 300;
  transition: 0.4s ease;
}

.link-to-project:hover {
  background: var(--onyx);
  border: 1px solid var(--orange);
  transition: 0.4s ease;
}

.page__section-skills-and-education {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lang-and-skill {
  gap: 35px 0;
  display: flex;
  flex-direction: column;
}

.page__container-skills {
  display: flex;
  gap: 15px 0;
  justify-content: space-between;
  flex-direction: column;
}

.skill {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill__name {
  font-size: 25px;
  font-weight: 300;
}

.skill__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill__item {
  width: 15px;
  height: 15px;
  margin: 5px;
  border: solid 1px var(--white);
  border-radius: 50%;
}

.skill__item.on-item {
  background-color: var(--orange);
}

.education-item {
  font-weight: 300;
  margin: 80px 0;
}

.educ-year {
  font-size: 30px;
  color: var(--orange);
}

.educ-year::first-letter {
  color: var(--white);
}

.educ-name {
  margin: 30px 0;
  font-size: 30px;
}

.educ-spec {
  font-size: 30px;
}

.educ-spec::first-letter {
  color: var(--orange);
}

.language-item {
  font-size: 25px;
  font-weight: 300;
  margin: 15px 0;
  width: 270px;
  display: flex;
  justify-content: space-between;
}

.lang-skill::first-letter {
  color: var(--orange);
}

/*---------footer---------*/
.footer {
  margin: 35px auto;
  max-width: 1440px;
  border-top: var(--orange) 2px solid;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer__contact-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-links__item {
  width: 60px;
  height: 60px;
  margin: 15px;
  border: transparent 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.contact-links__item:hover {
  border: var(--orange) 1px solid;
  transition: 0.3s;
}

.contact-links__item a {
  display: block;
  width: 50px;
  height: 50px;
  filter: brightness(0) saturate(100%) invert(84%) sepia(79%) saturate(0%) hue-rotate(95deg) brightness(108%) contrast(100%);
}

.contact-links__item-git a {
  background: url(../img/icon/github.svg) center no-repeat;
}

.contact-links__item-linkedin a {
  background: url(../img/icon/linkedin.svg) center no-repeat;
}

.contact-links__item-telegram a {
  background: url(../img/icon/telegram.svg) center no-repeat;
}

.footer__item {
  margin: 15px 0;
}

.footer__item-email::before {
  content: '';
  display: block;
  position: relative;
  top: 20px;
  width: 0%;
  height: 1px;
  background-color: var(--orange);
  transition: 0.5s ease;
}

.footer__item-email:hover {
  transition: 0.3s ease;
}

.footer__item-email:hover::before {
  transition: 0.5s ease;
  width: 100%;
}

.footer__item-email a {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: var(--white);
}

.footer__item-email a:hover::first-letter {
  color: var(--orange);
  transition: 0.3s ease;
}

/*---------footer---------*/
